@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  background: #cfcfcf;
  color: #333;
  font-family: Raleway;
}

::selection {
  color: #f1f1f1;
  background-color: #8B5CF6;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 2%;
  background: #fff;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  font-weight: 500;
}

nav .logo {
  margin-right: auto;
  font-size: large;
}

.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #8B5CF6;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 30px auto;
  background: #8B5CF6;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.pagination-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination-btn {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  margin: 5px;
  background: #8B5CF6;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.pagination-btn:hover, .fav-btn:hover {
  cursor: pointer;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.bank-details {
  margin-top: 5%;
  padding-left: 5%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 25px;
}

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
  text-align: justify;
}

.branch {
  font-weight: 600;
}

label {
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  font-weight: 500;
}

select[name="pageSize"] {
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

input[type="text"] {
  margin-left: 10px;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #8B5CF6;
  text-decoration: underline;
}